@tailwind base;
@tailwind components;
@tailwind utilities;


.slide-in {
    animation: slide-in .5s forwards;
}

.slide-out {
    animation: slide-out 1s forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200%);
    }
}