@tailwind base;
@tailwind components;
@tailwind utilities;

.keyboard_row {
  @apply flex flex-1 gap-1;
}

.keyboard_button {
    @apply flex-1 md:aspect-[4/5] aspect-[4/6] active:brightness-[0.6] rounded h-full text-white font-semibold md:text-lg;
}


.slide-in {
    animation: slide-in .5s forwards;
}

.slide-out {
    animation: slide-out 1s forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200%);
    }
}
